.box1 {
    width: 500px;
    height: 600px;
    border: 2px solid red;
    background-color: rgb(107, 212, 107);
    margin: 0 auto;
    overflow: hidden;
    perspective: 1000px;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 1s;
}

.scaleD:hover img {
    transform: scale(1.5);
    cursor: pointer;
}

.translateD:hover img {
    transform: translate(10px, 25px);
    cursor: pointer;
}

.skewD:hover img {
    transform: skew(10deg, 20deg);
}

.rotateD:hover img {
    transform: rotate(360deg);
}


.rotateXD:hover img {
    transform: rotateX(45deg);
}

.rotateYD:hover img {
    transform: rotateY(45deg);
}