* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}



body {
    font-family: 'Roboto';

}


.container {
    width: 73%;
    margin: 0 auto;


}

header .container {
    display: flex;
    justify-content: space-between;

}


header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;

}

.images {
    width: 200px;
}

.left-header {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;

}

.right-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.post {

    color: white;
    text-decoration: none;
    padding: 8px;
    background-color: #e60278;
    border-radius: 3px;
    font-weight: bold;

}

/* a:hover {
    color: #29B2FE;
} */
 header a:hover, footer a:hover {
    color: #589AD2;
 }

 .post:hover {
background-color: #C40D6C;
    color: white;
 }


#hero {
    background-image: url(../pics/client-desktop.webp);
    background-size: cover;
    height: 87vh;
}

.helpbusiness {
    color: white;
    padding: 180px 0;
    width: 40%;

}

h1 {
    font-size: 45px;

}

h2 {
    font-size: 46px;
    margin-bottom: 12px;
}

p {
    font-size: 16px;
}

.helpbusiness a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    background-color: #E60278;
    margin-top: 25px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;



}

#idea {
    padding: 85px 0;
}

.endless p {
    font-size: 22px;
    /* padding-top: 25px; */
    padding: 25px 0;
    /* line-height: 26px; */
    
}

.firstbox p {
    line-height: 26px;
    font-size: 18px;
}


#project {
    margin: 90px 0;
}

.firstbox {
    padding-top: 35px;
    width: 32%;
}

.firstbox img {
    width: 72px;
}

.mainbox img {
    font-size: 15px;
}

.white {
    color: #29B2FE;
    font-size: 44px;
}

.firstbox h2 {
    font-size: 25px;
    padding-top: 15px;
}

.firstbox p {
    padding-top: 15px;
}

.mainbox {
    display: flex;
    justify-content: space-between;
}



#collaborat ,#safe ,#convinced {
    margin: 90px 0;
}



.imagess img {
    width: 100%;
    /* height: 100%; */
}

.mainbox1 {
    display: flex;
    justify-content: space-between;

}
.doeswork h2 {
    padding-bottom: 13px;
}


.imagess {
    width: 40%;
}

.doeswork {
    width: 50%;
}

.just p {
    font-size: 24px;
}




.doeswork a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-color: #E60278;
    margin-top: 25px;

}

.mainbox2 {
    /* justify-content: space-between
    ; */
    width: 50%;


}

.product {
    display: flex;
    justify-content: space-between;
}


.mainbox2 h2 {
    font-size: 34px;
}

.contact {
    display: flex;
    padding: 65px 10px;
    justify-content: space-between;
}

.livechat1 {
    width: 45%;
}

.livechat1 img {
    width: 72px;
}


.livechat2 {
    width: 45%;
}

.livechat2 img {
    width: 72px;
}

.mainbox2 p {
    font-size: 21px;
}


/* .contact p {
    padding-bottom: 50px;
    padding-right: 10px;
    font-size: 21px;
} */

.mainbox23 {
    width: 45%;


}

.mainbox23 img {
    width: 100%;
    /* height: 100%; */
}

.Safe-and-secure {
    justify-content: space-between;
    display: flex;
}

.safeimages {
    width: 40%;
}

.safeimages img {
    width: 100%;
    height: 100%;
}

.safedata {
    width: 50%;
    color: #12151B;
}

.maintital {
    font-size: 40px;
}

.safedata p {
    padding: 26px 0;
    font-size: 20px;
    line-height: 31px;
}

.pay-support {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}


.pay {
    width: 50%;
}

.support {
    width: 35%;
}

.pay-support img {
    width: 72px;
}

.pay-support h4 {

    font-size: 21px;
    margin-top: 20px;

}

#waiting {
    background-color: #232A35;
    color: white;
    padding: 80px 0;
}

.postproject {
    margin: 100px 0;
}



.postproject p {
    padding: 31px 0;
    font-size: 26px;
    
}

p {
    padding: 30px 0;
}

.helpbus {
    display: inline-block;
    padding: 11px 30px;
    background-color: #C40D6C;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;

}

/* .container p {
     font-size: 25px;
} */

.helpbusiness p {
    font-size: 20px;
    line-height: 29px;
}

.logoimeges {
    display: flex;
    /* width: 30%; */
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;

    

}
.result {
    width: 32%;
}

.result img  {
    width: 100%;
    /* height: 100%; */
}

.result h3 {
    margin-top: 10px;
    font-size: 26px;
}

.result h4 {
    font-size: 23px;
    margin-top: 6px;
}

.package {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}



.abc {
    padding: 12px 34px;
    font-size: 20px;
}

.talent {
    padding: 11px 28px;
    font-weight: bold;
    font-size: 20px;
}

#additional {
    padding: 90px 0;
    background-color: #232A35;
    color: white;
}

.Bidder a {
    /* color: white; */
}

.Bidder p {
    font-size: 21px;
}

.tipsforposting a {
    display: block;
    color: white;
    padding-bottom: 12px;
    font-size: 21px;
}

.tipsforposting {
    display: flex;
    column-gap: 50px;
}

.hire a:hover {
    color: #29B2FE;
}

#codeofconduct {
    background-color: #12151B;
    padding: 25px 0;
    color: white;
}

.india h4{
    padding-bottom: 12px;
}

.india img {
    width: 100%;
    /* height: 30% */
}

.footertop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
ul li .childs {
    padding-right: 7px;
}

.india ul li {
    list-style-type: none;
    font-size: 15px;
    row-gap: 20px;
    line-height: 24px;
    
}

.space ul li {
    line-height: 30px;
    padding-left: 15px;
}

.ul li {
    row-gap: 10px;
}

.icons {
    column-gap: 5px;
    
}

.imegess {
    padding-bottom: 15px;
}

.footerbottom {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 30px;
}

.posted {
    font-size: 13px;
}


.icons a {
    padding-right: 10px;
    text-decoration: none;
    color: white;
}


.trademark {
    width: 60%;
}

.trademark p {
    font-size: 11px;
    line-height: 20px;
}

.facebook:hover {
    color: #1877F2;
}

.twitter:hover {
   color: #00B6F1; 
}

.youtube:hover {
    color: #E80203;
}
.instagram:hover {
    color: #A6278D;
}

#logos {
    padding: 100px 0;
}
 












