* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../pics/client-desktop.webp);

}


.container {
    width: 90%;
    margin: 0 auto;
   
  
}

header .container  {
    display: flex;
    justify-content: space-between;  

}


header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;  
}

.images img {
    width: 180px;
}

.left-header {
    display: flex;
    align-items: center;
}
 header ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}
ul li a {
    color: white;
    text-decoration: none;
    
}

.right-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.post {
    color: white;
    text-decoration: none;
    padding: 8px;
    background-color: #C40D6C;
}

a:hover { 
    color: rgb(14, 37, 171);
    
    
}


/* .hero {
    background-image: url(../pics/client-desktop.webp);
} */


h1 {
    padding-top: 25%;
    padding-left: 10%;
    color: white;
}

p {
    color: white;
}




