* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}


.container {
    width: 90%;
    margin: 0 auto;
   
  
}

header .container  {
    display: flex;
    justify-content: space-between;  

}


header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;  
}

.images img {
    width: 170px;
}

.left-header {
    display: flex;
    align-items: center;
}
 header ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}
ul li a {
    color: white;
    text-decoration: none;
    
}

.right-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.post {
    color: white;
    text-decoration: none;
    padding: 8px;
    background-color: #C40D6C;
}

a:hover { 
    color: #29B2FE;    
}



#hero {
    background-image: url(../pics/client-desktop.webp);
    background-size: cover;
   
    
   
      
}

.helpbusiness {
    color: white;
    padding: 300px 0;
    height: 100vh;
 
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 38px;
    margin-bottom: 12px;
}

p {
    font-size: 22px;
}

.helpbusiness a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: #E60278;
    margin-top: 25px;
   
   
}








