* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroswiper {
  width: 100%;
  height: 100vh;
}

.heroswiper img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;


}

.heroswiper .swiper-button-next,
.heroswiper .swiper-button-prev {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.heroswiper .swiper-button-next:after,
.heroswiper .swiper-button-prev:after {
  font-size: 19px;
}

.heroswiper .swiper-pagination-bullet {
  background: white;
}


.sliderSwiper {
  width: 100%;
  height: 100vh;
}

.sliderSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}