* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EEEEEE;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 12px 0;
}

body {
    font-family: sans-serif;
    background-color: #EEEEEE;
}

.container {
    width: 77%;
    margin: 0 auto;
}

.tvaritcom {
    display: flex;
    justify-content: space-between;
}

.tvaritlogo {
    width: 21%;
}

.tvaritlogo img {
    height: 100%;
    width: 100%;
}

.tvariticon {
    width: 5%;
}

#vision {
    padding-top: 19%;
}



.tvariticon .blue {
    font-size: 32px;
    color: #112266;
    padding-top: 11px;
}



.energy {

    width: 50%;
    color: #112266;
}

.energy h1 {
    font-size: 52px;
    font-weight: bold;
}

.energy .metal {
    font-size: 54px;
    padding-bottom: 22px;
}

.energy p {
    font-size: 21px;
    padding-bottom: 130px;

}

/* .expert {
   width: 500px;
   height: 100px;
   border: 2px solid green;
   background-color: #55AA66;
} */

.expert {
    width: 700px;
    height: 100px;
    /* border: 2px solid black; */
    background-color: #55AA66;
    color: black;
    position: absolute;
    top: -40px;
}

.expert a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    padding-left: 60%;




}

.white {
    color: white;
}



.youtube {
    position: relative;
}

#logos,
#khowledge {
    padding: 230px 0;
}

.procast {
    display: flex;
    justify-content: space-between;
}

/* .procast img {
    width: 100%;
    height: 50%;
} */

.Industrial {
    justify-content: space-between;
    display: flex;
}

.zero {
    width: 40%;
}

.learnmore {
    width: 55%;
}

.learnmore p {
    line-height: 23px;
}

.learnmoreabout {
    display: inline-block;
    text-decoration: none;
    padding: 13px 23px;
    color: white;
    background-color: #55AA66;
    border-radius: 22px;
    margin-top: 22px;

}

#knowabout {
    padding: 20px 0;
}

.maintital {
    color: #112266;
    font-size: 36px;
}

.challenges h3 {
    color: #112266;
    font-size: 26px;
}

.challenges {
    /* display: flex; */
    justify-content: space-between;
    position: relative;
}

.images1 {
    width: 23%;
    padding: 250px 20px;
    background-image: url(../pics/dustbinbackground.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    
  
}

.images1 h2 {
  position: absolute;
  bottom: 20px;
}



.challenges {
    display: flex;
    flex-wrap: wrap;
}

.images2 {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    

}

.images3 {
    width: 23%;
    padding: 250px 20px;
    background-image: url(../pics/mind-khowlege.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    
}



.miniimages {
    width: 48%;
    padding: 125px 35px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    height: 48%;
    
}

.section2 {
    color: #112266;
    font-size: 28px;
    padding-bottom: 18px;
}



.img1 {
    background-image: url(../pics/gettt.png);
}

.img2 {
    background-image: url(../pics/computertvarit.png);
}

.img3 {
    background-image: url(../pics/energycost-tvarit.png);
}

.img4 {
    background-image: url(../pics/milk-energy-cost.png);
}
