* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #eeeeee;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 12px 0;
}

body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.container {
    width: 77%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.tvaritcom {
    display: flex;
    justify-content: space-between;
}

.tvaritlogo {
    width: 21%;
}

.tvaritlogo img {
    height: 100%;
    width: 100%;
}

.tvariticon {
    width: 5%;
}

#vision {
    padding-top: 19%;
}

.tvariticon .blue {
    font-size: 32px;
    color: #112266;
    padding-top: 11px;
}

.energy {
    width: 50%;
    color: #112266;
}

.energy h1 {
    font-size: 52px;
    font-weight: bold;
}

.energy .metal {
    font-size: 54px;
    padding-bottom: 22px;
}

.energy p {
    font-size: 21px;
    padding-bottom: 130px;
}

/* .expert {
   width: 500px;
   height: 100px;
   border: 2px solid green;
   background-color: #55AA66;
} */

.expert {
    width: 700px;
    height: 100px;
    /* border: 2px solid black; */
    background-color: #55aa66;
    color: black;
    position: absolute;
    top: -40px;
}

.expert a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    padding-left: 60%;
}

.white {
    color: white;
}

.youtube {
    position: relative;
}

#logos,
#khowledge {
    padding: 230px 0;
}

.procast {
    display: flex;
    justify-content: space-between;
}

/* .procast img {
    width: 100%;
    height: 50%;
} */

.Industrial {
    justify-content: space-between;
    display: flex;
}

.zero {
    width: 40%;
}

.learnmore {
    width: 55%;
}

.learnmore p {
    line-height: 23px;
}

.learnmoreabout {
    display: inline-block;
    text-decoration: none;
    padding: 13px 23px;
    color: white;
    background-color: #55aa66;
    border-radius: 22px;
    margin-top: 22px;
}

#knowabout {
    padding: 20px 0;
}

.maintital {
    color: #112266;
    font-size: 40px;
}

.challenges h3 {
    color: #112266;
    font-size: 26px;
}

.images1 {
    width: 23%;
    /* padding: 250px 20px; */
    background-image: url(../pics/dustbinbackground.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
}

.hello {
    padding: 16px 18px;
    color: white;
    background-color: #55aa66;
    border-radius: 50%;
    padding-right: 1px;
    width: 50px;
    height: 50px;
}

.Scrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
    /* padding: 25px; */
}

.Scrap h2 {
    font-size: 15px;
}

.Scrap .plusblue {
    padding-right: 15px;
}

.challenges {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

.images2 {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: #fff;
}

.images3 {
    width: 23%;
    /* padding: 250px 20px; */
    background-image: url(../pics/mind-khowlege.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
}

.drain {
    padding: 25px;
}

.drain h2 {
    font-size: 15px;
}

.miniimages {
    width: 48%;
    /* padding: 125px 35px; */
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    height: 48%;
    /* border: 1px solid red; */
    /* display: flex;
    align-items: flex-end; */
    display: flex;
    align-items: flex-end;
}

/* .miniimages:hover {
    color: #112266;
    border: 1px solid blue;
} */

.section2 {
    color: #112266;
    font-size: 28px;
    padding-bottom: 18px;
}

.img1 {
    background-image: url(../pics/gettt.png);

}

.img2 {
    background-image: url(../pics/computertvarit.png);
}

.img3 {
    background-image: url(../pics/energycost-tvarit.png);
}

.img4 {
    background-image: url(../pics/milk-energy-cost.png);
}

#tvaritwork {
    padding: 230px 0;
}

.yourwork p {
    font-size: 29px;
    color: #112266;
    padding: 13px 0;

}

.day123 {
    display: flex;
    justify-content: space-between;
}


.projectwith {
    display: flex;
    justify-content: space-between;
}

.yourwork {
    width: 50%;
}

.button {
    width: 12%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.howitwork {
    display: inline-block;
    border: 2px solid #55AA66;
    text-decoration: none;
    padding: 9px 19px;
    border-radius: 22px;
    color: #55AA66;
    font-weight: bold;
    margin-top: 43px;
    
}



.day1 {
    width: 32%;
    /* border: 2px solid greenyellow; */
    background-color: #ffffff;
    padding: 24px;
    justify-content: space-between;
    display: flex;
    border-radius: 15px;
}

.day1data {
    width: 75%;
}

.day2 {
    width: 32%;
}

.day3 {
    width: 32%;
}

.day1data h3 {
    font-size: 14px;
    color: rgb(107, 104, 104);
    padding-top: 12px;
    padding-bottom: 3PX;
}

.day1data p {
    color: rgb(84, 82, 82);
    font-size: 15px;
    padding-bottom: 75px;
    line-height: 21PX;
}

.day1images {
    width: 25%;
}

.day1images img {
    width: 100%;
    height: 75%;
}

.Aiproduction {
    display: flex;
    justify-content: space-between;
}

.aisolutions {
    width: 33%;
}

.production {
    width: 65%;
}

.aisolutions p {
    padding: 20px 0;
    line-height: 21px;
    font-size: 16px;
}

.production {
    display: flex;
    justify-content: space-between;
}

.greatteem {
    padding: 26px;
    width: 32%;
    /* border: 2px solid rgb(14, 15, 12); */
    background-color: #ffffff;
    /* padding: 24px; */
    /* justify-content: space-between; */
    /* display: flex; */
    border-radius: 30px;
    height: 100%;
    text-align: center;
}

/* .peopleimages {
    display: flex;
    justify-content: center;
    height: 38%;
    width: 100%;
} */

/* .peopleimages img {
    display: block;
    /* width:  70px; */
    width: 45%;

    /* padding-left: 25px; */
/* } */ */

.greatteam {
    color: #112266;
    font-size: 20px;
    /* padding: 25px 0; */
    /* text-align: center; */
    padding-top: 14px;
    padding-bottom: 37px;
    font-weight: bold;
}
.dataexp {
    font-size: 18px;
    color: rgb(99, 98, 98);
    padding-bottom: 22px;
}

.greatteam {
    font-size: 20px;
    padding-bottom: 19px;
    color: #112266;
    font-weight: bold;
}

.day1:hover ,.greatteem:hover , .expertper:hover , .distrol:hover{
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

.learn {
    font-weight: bold;
    margin-bottom: 20px;
}

#industryexpert , #whytvarit ,#approach ,#Sponsored{
    padding: 150px 0;
}

.greatteem img  {
    width: 45%;
    height: 50%;
    
}


.trust p {
    font-size: 31px;
    color: #112266;
    padding-top: 7px;
    padding-bottom: 25px;
}

.global {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nusinesshead {
    /* border: 1px solid rgb(76, 75, 75); */
    width: 58%;
    border-radius: 20px;
    /* text-align: center; */
    padding: 0 100px;
    background-color: #ffffff;
    padding: 32px 25px 155px;
}
.nusinesshead p {
    line-height: 24px;
    font-size: 16px;
}

.headdirector {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}


.headimages {
    width: 90px;
    height: 90px;
    border-radius: 50%;
   
}

.headimages img {
    width: 100%;
    height: 100%;
}

.headname {
    width: 51%;
    text-align: left;
}

.headname h2 {
    font-size: 14px;
}

.headname p {
    font-size: 14px;
}




/* .headname p {
    line-height: 23px;
} */

.headcompany{
    width: 25%;
}

.headcompany img {
    width: 100%;
    /* height: 100%; */
}

.manufacturing p {
    font-size: 32px;
    color: #112266;
    padding-top: 8px;
    padding-bottom: 35px;
 
}
  


.optimize {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.expertper {
   width: 32%;
   background-color: #ffffff;
   border-radius: 15px;
   /* display: flex; */
   /* justify-content: center; */
   text-align: center;
   padding: 34px 50px 20px;
}


.expertper img {
    /* padding: 21px 0; */
    width: 54px;
    height: 54px;
}

.expertper h2 {
    padding-top: 28px;
    color: rgb(87, 84, 84);
    font-size: 18px;
}

.Germany {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.germanypart h2 {
    padding-bottom: 33px;
}

.State {
    width: 25%;
}

.State p {
    font-size: 17px;
    line-height: 24px;
}

.distrol {
    width: 72%;
    border-radius: 15px;
}

.distrol img {
    width: 100%;
    height: 100%;
}

.State a {
    color: #55AA66;
    
}
#Terms-Conditions {
    background-color: black;
    color: white;
    padding: 100px 20px 45px;
}

.logoimages {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logoimages1 {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tvaritrgb {
    width: 20%;
}

.tvaritrgb img {
    width: 70px;
    height: 70px;

}

.tvaritp {
    color: #55AA66;
    width: 70%;
    
}

.tvaritp h2 {
    font-size: 16px;
}

.tvaritp p {
    line-height: 22px;
}

.logoimages2 {
    width: 45%;
}

.logoimages2 .green {
    color: #55AA66;
    font-size: 42px;
    padding: 0 23px;
}

.aboutustva {
    display: flex;
    /* align-items: center; */

}


ul li a {
    list-style-type: none;
    color: #55AA66;
    display: inline-block;
    display: flex;
    text-decoration: none;
}

.gmbh p {
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
}

















